@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Hind Siliguri", sans-serif;
}

.activeCls a.active {
  color: white;
}

.yellow-500 {
  background-color: rgb(234 179 8)
}

.green-500 {
  background-color: rgb(34 197 94);
}

.blue-500{
  background-color: rgb(59 130 246);
}

.orange-500 {
  background-color: rgb(249 115 22);
}

.pink-500 {
  background-color: rgb(236 72 153);
}

.orange-500 {
  background-color: rgb(249 115 22);
}

